<div class="tela">

    <div class="container-fluid">
        <div class="row">
            <% for (let i=0; i < lista.length; i++) { %>
                <div class="col-sm-6">
                    <h2>
                        <%= lista[i].nome %>
                    </h2>

                    <p>
                        Tamanho: <%= lista[i].tamanho %>
                    </p>

                    <p>
                        Peso: <%= lista[i].peso %>
                    </p>

                    <p>
                        Tripulantes: <%= lista[i].tripulantes %>
                    </p>

                    <p>
                        Cabines: <%= lista[i].cabines %>
                    </p>

                    <p>
                        Ano: <%= lista[i].ano %>
                    </p>

                    <p>
                        Preço: $ <%= lista[i].preco %>
                    </p>

                    <img class="barco" src="/public/img/embarcacoes/<%= lista[i].idembarcacao %>.jpg" width="500">
                </div>
                <% } %>

        </div>
    </div>

</div>

<%- contentFor("head") %>

    <style type="text/css">
        .tela {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 50px;
        }

        .barco {
            border-radius: 20px;
        }
    </style>