<div class="tela">

    <div class="container-fluid">
        <div class="row">
            <% for (let i=0; i < lista.length; i++) { %>
                <div class="col-sm-6">
                    <h2 class="fontes">
                        <%= lista[i].nome %>
                    </h2>

                    <div class="barco" style="background-image: url('<%- root %>/public/img/embarcacoes/<%= lista[i].idembarcacao %>.jpg');"></div>

                    <div class="aling">
                        <div class="row">
                            <div class="col-sm-4 offset-sm-2">

                                <p class="fontes">
                                    Tamanho: <%= lista[i].tamanho %>
                                </p>

                                <p class="fontes">
                                    Peso: <%= lista[i].peso %>
                                </p>

                                <p class="fontes">
                                    Tripulantes: <%= lista[i].tripulantes %>
                                </p>

                            </div>

                            <div class="col-sm-4">

                                <p class="fontes">
                                    Cabines: <%= lista[i].cabines %>
                                </p>

                                <p class="fontes">
                                    Ano: <%= lista[i].ano %>
                                </p>

                                <p class="fontes">
                                    Preço: $ <%= lista[i].preco %>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <% } %>

        </div>
    </div>

</div>

<%- contentFor("head") %>

    <style type="text/css">
        .tela {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 50px;
        }

        .barco {
            border-radius: 20px;
            width: 100%;
            height: 300px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .aling{
            margin-top: 20px;
         margin-bottom: 25px;   
        }

        .fontes{

            font-weight: bold;
            font-family: 'Aboreto', cursive;
            font-family: 'Cinzel', serif;
            font-family: 'Fjalla One', sans-serif;
            font-family: 'Josefin Sans', sans-serif;
        }
    </style>